@import "../../assets/scss/foundation/variable/variable";
@import "../../assets/scss/foundation/mixin/responsive";

.main-layout {
  width: 100%;

  &-body {
    width: 100%;
    margin-left: 250px;
    @include mq_down(sp) {
      margin: 0;
    }
  }
}
