@import "../../assets/scss/foundation/variable/variable";
@import "../../assets/scss/foundation/mixin/responsive";

.main-layout {
  width: 100%;
  &-body {
    margin-left: 250px;
    background-color: #f5f7fb;
    min-height: 99vh;
  }
}
