.header{
  // width: 100;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #197cfe;
  display: flex;
  justify-content: space-between;
  color: white;
  .left{
    background-color: black;
    height: 100%;
    width: 100px;
  }
  .right{
    background-color: black;
    height: 100%;
    width: 100px;
    margin-right: 100px;
  }
}